<img src = "../../images/3_logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Alcool</font></h1>
<h2 align=center><font size = 5>Grouper</font></h2>

### 1. Importer les librairies nécessaires

In [1]:
import pandas as pd
import numpy as np
import os

### 2. Importer le jeu de données depuis [adresse](https://needemand.com/keepsmiling2/index.php/s/nAjnDBf3ekoxTmx).

### 3. Stocker les données dans une variable drinks.

In [4]:
CSV_PATH = os.path.join('data', 'drinks.csv')

drinks = pd.read_csv(CSV_PATH)

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### 4. Dans quel pays la consommation moyenne de bière est-elle la plus élevée ?

In [10]:
drinks.loc[[drinks.beer_servings.idxmax()], ['country']]

     country
117  Namibia

### 5. Afficher les statistiques relatives aux consommations de vin pour chaque continent.

In [13]:
drinks.groupby('continent').describe()

          beer_servings                                                      \
                  count        mean        std   min     25%    50%     75%
continent
AF                 53.0   61.471698  80.557816   0.0   15.00   32.0   76.00
AS                 44.0   37.045455  49.469725   0.0    4.25   17.5   60.50
EU                 45.0  193.777778  99.631569   0.0  127.00  219.0  270.00
OC                 16.0   89.687500  96.641412   0.0   21.00   52.5  125.75
SA                 12.0  175.083333  65.242845  93.0  129.50  162.5  198.00

                 spirit_servings              ...    \
             max           count        mean  ...
continent                                     ...
AF         376.0            53.0   16.339623  ...
AS         247.0            44.0   60.840909  ...
EU         361.0            45.0  132.555556  ...
OC         306.0            16.0   58.437500  ...
SA         333.0            12.0  114.750000  ...

          total_litres_of_pure_alcohol       wine_servings              \
                                   75%   max         count        mean
continent
AF                               4.700   9.1          53.0   16.264151
AS                               2.425  11.5          44.0    9.068182
EU                              10.900  14.4          45.0  142.222222
OC                               6.150  10.4          16.0   35.625000
SA                               7.375   8.3          12.0   62.416667


                 std  min   25%    50%     75%    max
continent
AF         38.846419  0.0   1.0    2.0   13.00  233.0
AS         21.667034  0.0   0.0    1.0    8.00  123.0
EU         97.421738  0.0  59.0  128.0  195.00  370.0
OC         64.555790  0.0   1.0    8.5   23.25  212.0
SA         88.620189  1.0   3.0   12.0   98.50  221.0

[5 rows x 32 columns]

### 6. Afficher la consommation moyenne d'alcool par continent pour toutes les colonnes.

In [14]:
drinks.groupby('continent').total_litres_of_pure_alcohol.mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### 7. Afficher la consommation médiane d'alcool par continent pour toutes les colonnes

In [15]:
drinks.groupby('continent').spirit_servings.median()

continent
AF      3.0
AS     16.0
EU    122.0
OC     37.0
SA    108.5
Name: spirit_servings, dtype: float64

### 8. Afficher les valeurs moyennes, min et max de la consommation de spiritueux (spirit).
#### Stocker le résulat dans un DataFrame

In [28]:
spirit_min = drinks.spirit_servings.min()
spirit_max = drinks.spirit_servings.max()
spirit_mean = drinks.spirit_servings.mean()

spirit = pd.DataFrame({'Spirit Min' : [spirit_min], 'Spirit Max' : [spirit_max], 'Spirit Mean' : [spirit_mean]})

   Spirit Min  Spirit Max  Spirit Mean
0           0         438    80.994819

<hr>
Copyright &copy; 2018 Hatem & Driss @NEEDEMAND